body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #e8f5e9, #f1f8e9);
}
.top-info {
    text-align: center;
    padding: 50px 20px;
}
.info-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.intro {
    max-width: 700px;
    margin: auto;
    font-size: 16px;
    color: #444;
}
.recommend-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 40px;
    gap: 25px;
}
.content {
   padding: 15px;
}
.card-btn {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(45deg, #2e7d32, #66bb6a);
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
