body{
    font-family: 'popppins',sans-serif;
    background-color: #f4f8fb;
    color: #333;
    overflow-x:hidden ;
}

.weather-main{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}
.h2{

    color: #1A237E;
    font-size: 28px;
    margin-bottom: 25px;

    text-align: center
}